.links{
    max-width: 1200px;
    margin: auto;
    height: 8vh;
    padding: 20px;
    

}

.navbar a{
    padding: 10px;
}

.navbar{
    background-color: #3b4cca;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links p{
    margin-left: 10px;
    font-size: 24px;
    color: #ffDE00;
}



.links img{
    width: 32px;
}